.resume-wrapper {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  width: 50%;
  @apply fixed;
  right: 0;
  height: 100vh;
  @apply bg-gray-300;
}

.page {
  @apply bg-white;
  box-sizing: border-box;
  border-radius: 5px;
  width: 595px;
  height: 842px;
  padding: 0 15px;
  @apply border;
  @apply border-gray-400;
}
