.resume-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: grey;
}

.page {
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  width: 595px;
  height: 842px;
  padding: 0 15px;
  border: 1px solid;
}
