.modal__wrapper {
  @apply fixed;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  overflow-y: hidden;
}

.modal__title {
  font-size: 25px;
  @apply text-white;
}

.modal__close {
  @apply text-white;
  @apply cursor-pointer;
  font-size: 30px;
}

.modal__card {
  max-width: 65%;
  max-height: 75%;
  @apply bg-white;
  @apply items-center;
  @apply flex;
  @apply flex-col;
  opacity: 1;
  margin: 0 auto;
  flex-direction: column;
}

.modal__header {
  width: 100%;
  height: 50px;
  @apply bg-blue-500;
  @apply flex;
  @apply justify-between;
  @apply items-center;
  padding: 0 10px;
  box-sizing: border-box;
}
