.select__wrapper {
  @apply relative;
  width: 100px;
  @apply flex;
  @apply items-center;
  @apply border;
  @apply border-gray-400;
}

select {
  border: 0;
  padding: 10px;
  height: 40px;
  appearance: none;
}
